.body{
    margin: 0;
}

/* Nav Bar */ 
.navButton {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 6px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    margin-right: 20px;
  }
  
.navButton:hover {
    background-color: #5549b4;
    cursor: pointer;
  }
  

nav {
    background-color: rgb(148, 94, 255);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  /* Instructor Evaluation */

.testBox{
    padding-top: 25vh;
    justify-content: center;
    width: 80%;
    margin: 50px;
}

.testBox2{
  padding-top: 10px;
  justify-content: center;
  width: 80%;
  margin: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  label {
    margin-right: 20px;
  }
  
  .value {
    display: inline-block;
    min-width: 25px;
    text-align: center;
    margin-left: 10px;
  }

  .intelligenceImage{
    height: 400px;
    width: fit-content;
    
  }

  .eval{
    text-align: center;
  }

  .scrollbar{
    width: 100%;
  }
 
  .title{
    text-align: center;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .submitButton{
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 10px;
  }
 
.testPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.instructEval{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
  
