.body{
    margin: 0;
}

/* Nav Bar */ 
.navButton {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 6px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    margin-right: 20px;
  }

  .basicButton {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 6px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    margin-right: 20px;
  }
  
.navButton:hover {
    background-color: #5549b4;
    cursor: pointer;
  }
  .basicButton:hover {
    background-color: #5549b4;
    cursor: pointer;
  }
  
  

nav {
    background-color: rgb(148, 94, 255);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  /* Instructor Evaluation */

.testBox{
    display: flex;
    border: black solid;
    border-radius: 5px;
    background-color: rgb(115, 75, 194, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 50px;
    padding: 20px;
    
}

.testBox2{
  padding-top: 10px;
  justify-content: center;
  width: 80%;
  margin: 50px;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.chatbot-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

.chat-button {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #0078d7;
    color: white;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
  }

.modal-container {
    display: flex;
    position: fixed;
    bottom: 50px;
    right: 50px;
    margin: 10px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }

  .eval{
    text-align: center;
  }

  .scrollbar{
    width: 100%;
  }
 
  .title{
    text-align: center;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .testTitle{
    text-align: center;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 25px;
  }

  .submitButton{
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 10px;
  }
 


.modal-content {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    padding: 20px;
  }

.close-button {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
  }

.chatbot-iframe {
    flex: 1;
    border: none;
  }
